extends ./_layout.jade
block content
  header.bg--gun-metal
    .logo.animated.tada
      include ./logo.svg
    .topmenu
      .mitem 
        a(href="#") Lists
      .mitem 
        a(href="#") Settings
      .mitem.shop
        a(href="#")
          include ./shop.svg

  nav
    .hs-select
      select
        option Callback
        option Show All
        option Pending
    ul
      li 
        a(href="#") Dashboard
      li
        a(href="#") Issues
      li
        a(href="#") Releases

  .subnav
    .sn-item.sn-btn
      button.btn--raised.btn-blue
        | Bookmarks
      button.btn--raised.btn-blue
        | Assigned
    .sn-item
      input(type="text" placeholder="Search")

  main

    table.card
      tr.table-header
        td Number
        td Name
        td Age
        td Job
      tr
        td 521
        td Ben
        td 23
        td Front End Dev
      tr
        td 951
        td Zoe
        td 21
        td Care Worker

  .sp-footer.bg--silver
    .fitem.fname
      | Sentry Beta
    .fitem.flinks
      span Contribute
      span Feedback
