// Set a basic variable
// {{{
$sp-font-size = 14px
$sp-line-height = 18px
$sp-base-color = #464646
$sp-general-blue = #167EBD

$fw-thin = 100
$fw-light = 300
$fw-normal = 400
$fw-bold = 700
$fw-black = 900
// }}}

// media query brakpoints
// {{{
$breakpoint-sm = 480px
$breakpoint-md = 768px
$breakpoint-lg = 1024px
// }}}

// colors
// {{{
$sp-color-personal = #167EBD
$sp-color-personal-tint = #106090
// }}}
